<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>登录-工作室 </title>

  <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  <script src="../dist/modules/jquery.min.js"></script>
  <link rel="stylesheet" href="../dist/css/demo.css">
  <link rel="stylesheet" href="../dist/css/style.css">
</head>

<body style="background: url('../dist/img/1.jpg');">
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              工作室
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>登录</h4></div>

              <div class="card-body">
                <form method="POST" action="#" class="needs-validation" novalidate="" onsubmit="return false">
                  <div class="form-group">
                    <label for="email">邮箱</label>
                    <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                      请填写您的电子邮箱
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="password" class="d-block">密码
                      <div class="float-right">
                        <a href="forgot.html">
                          忘记密码?
                        </a>
                      </div>
                    </label>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      请填写您的密码
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                      <label class="custom-control-label" for="remember-me">记住我</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <button id="comfirmButton" type="submit" class="btn btn-primary btn-block" tabindex="4" >
                      登录
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              没有帐户? <a href="register.html">创建一个</a>
            </div>
            <div class="simple-footer">
              Copyright &copy; 工作室 2019
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
    $.ajaxSetup({
      headers:{'Content-Type':'application/json;charset=utf8'},
      xhrFields: {
        withCredentials: true
      },
      crossDomain: true,
    })
    $("[type='submit']").on('click', function() {

      var email = $("#email").val();
      var password = $(`#password`).val();
      var data2 = {
        "param": {
          "user_email": email,
          "user_password": password
        }
      }
      var data = JSON.stringify(data2)
      $.ajax({
        type: "POST",
        url:  "http://localhost:8081/user/login",
        contentType: "application/json",
        data,
        dataType: "json",
        success: function (data) {
          let user_name = data.data.msg.user_name
          let user_email = data.data.msg.user_email
          let error = data.data.msg
          let nameerror = data.data.msg
          if(nameerror == "用户名不存在！")
          {
            alert("邮箱不存在，请重试！")
          }
          if(error == "密码错误"){
            alert("密码错误，请重试！")
          }
          if(email == user_email && email != null){
            location.href='index.html?name='+user_name
          }        
        },
        error: function (message) {
          //失败信息
        }
      });
    })

  </script>
  <script src="../dist/modules/jquery.min.js"></script>
  <script src="../dist/modules/popper.js"></script>
  <script src="../dist/modules/tooltip.js"></script>
  <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>

  <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
  <script src="../dist/js/sa-functions.js"></script>
  
  <script src="../dist/js/scripts.js"></script>
  <script src="../dist/js/custom.js"></script>
  <script src="../dist/js/demo.js"></script>
</body>
</html>