<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    name="viewport">
  <title>周报详情</title>

  <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  <script src="../dist/modules/jquery.min.js"></script>
  <link rel="stylesheet" href="../dist/modules/summernote/summernote-lite.css">
  <link rel="stylesheet" href="../dist/modules/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../dist/css/demo.css">
  <link rel="stylesheet" href="../dist/css/style.css">

  <script src="../dist/modules/jquery.min.js"></script>
  <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

  <style>
    table {
      width: 100%;
      height: auto;
    }

    input[type='text'] {
      border: 0;
      height: 26.5px;
      width: 100%;
    }

    .div-inline {
      display: inline
    }

    .left {
      margin-left: 30%;
    }

    td {
      text-align: center;
    }
  </style>


</head>

<body>
  <script>
    var week = window.location.href.split('?')[1].split('=')[1].split('&')[0]
    var user_name = window.location.href.split('?')[1].split('=')[1].split('&')[1]
    var name = decodeURIComponent(user_name)
  </script>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a>
            </li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                  class="ion ion-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="ion ion-search"></i></button>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
              class="nav-link notification-toggle nav-link-lg beep"><i class="ion ion-ios-bell-outline"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">View All</a>
                </div>
              </div>
              <div class="dropdown-list-content">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="../dist/img/avatar/avatar-1.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="../dist/img/avatar/avatar-2.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ujang Maman</b> has moved task <b>Fix bug footer</b> to <b>Progress</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-3.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Agung Ardiansyah</b> has moved task <b>Fix bug sidebar</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-4.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ardian Rahardiansyah</b> has moved task <b>Fix bug navbar</b> to <b>Done</b>
                    <div class="time">16 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-5.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Alfa Zulkarnain</b> has moved task <b>Add logo</b> to <b>Done</b>
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
              <i class="ion ion-android-person d-lg-none"></i>
              <div class="d-sm-none d-lg-inline-block" id="perponal">Hi！</div>
            </a>
            <script>
              $("#perponal").append(name)
            </script>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="profile.html" class="dropdown-item has-icon">
                <i class="ion ion-android-person"></i> 个人中心
              </a>
              <a href="#" class="dropdown-item has-icon">
                <i class="ion ion-log-out"></i> 退出
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html">工作室</a>
          </div>
          <script>
            //头像展示
            var data2 = {
              "param": {
                "user_name": name
              }
            }
            var data = JSON.stringify(data2)
            $.ajax({
              type: "POST",
              url: "http://localhost:8081/user/geticon",
              contentType: "application/json",
              data,
              dataType: "json",
              success: function (data) {
                // var img = new Image();
                // img.src = data.data.msg;
                // document.getElementById("image").appendChild(img);
                $("#image").attr("src", data.data.msg)
              },
              error: function (message) {
                //失败信息
              }
            });
            $.ajax({
              type: "POST",
              url: "http://localhost:8081/user/getuser",
              contentType: "application/json",
              data,
              dataType: "json",
              success: function (data) {
                var msgs = `<div class="sidebar-user-details">
                              <div class="user-name" >${data.data.msg.user_name}</div>
                              <div class="user-role" >
                                ${data.data.msg.user_position}
                              </div>
                            </div>`
                            $("#msgs").append(msgs);
              },
              error: function (message) {
                //失败信息
              }
            });
          </script>
          <div class="sidebar-user" id="msgs" onclick="window.location.href='personal.html';">
            <div class="sidebar-user-picture">
              <img alt="image" src="#" id="image">
            </div>           
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li class="active">
              <a href="index.html"><i class="ion ion-speedometer"></i><span>我的主页</span></a>
            </li>

            <li class="menu-header">Components</li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-ios-albums-outline"></i><span>组件</span></a>
              <ul class="menu-dropdown">
                 <li><a href="saysay.html"><i class="ion ion-ios-circle-outline"></i> 动态</a></li>
                <li><a href="table_user.html"><i class="ion ion-ios-circle-outline"></i> 在线用户</a></li>
                
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-flag"></i><span>打卡</span></a>
              <ul class="menu-dropdown">
                <li><a href="clock.html"><i class="ion ion-ios-circle-outline"></i> 英语打卡</a></li>
                <li><a href="form-first.html"><i class="ion ion-ios-circle-outline"></i> 周报打卡</a></li>
              </ul>
            </li>
            <li>
              <a href="table.html"><i class="ion ion-clipboard"></i><span>图书借阅</span></a>
            </li>
            <li>
              <a href="#"class="has-dropdown"><i class="ion ion-stats-bars"></i><span>学习情况统计</span></a>
              <ul class="menu-dropdown">
                <li><a href="clock.html"><i class="ion ion-ios-circle-outline"></i> 英语打卡情况</a></li>
                <li><a href="weeklylist.html"><i class="ion ion-ios-circle-outline"></i>周报打卡情况</a></li>
              </ul>
            </li>
            <li>
              <a href="table_user.html"><i class="ion ion-ios-location-outline"></i><span>成员信息</span></a>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-ios-copy-outline"></i><span>任务</span></a>
              <ul class="menu-dropdown">
                <li><a href="task.html"><i class="ion ion-ios-circle-outline"></i> 发布任务</a></li>
                <li><a href="tasklist.html"><i class="ion ion-ios-circle-outline"></i> 任务列表</a></li>
                <!-- <li><a href="forgot.html"><i class="ion ion-ios-circle-outline"></i> 我的任务</a></li> -->
              </ul>
            </li>

            <li class="menu-header">More</li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-ios-nutrition"></i> 益智游戏</a>
              <ul class="menu-dropdown">
                <li><a href="2048.html"><i class="ion ion-ios-circle-outline"></i> 2048</a></li>
                <!-- <li><a href="#" class="has-dropdown"><i class="ion ion-ios-circle-outline"></i> Menu 2</a>
                  <ul class="menu-dropdown">
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 1</a></li>
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 2</a></li>
                    <li><a href="#" class="has-dropdown"><i class="ion ion-ios-circle-outline"></i> Child Menu 3</a>
                      <ul class="menu-dropdown">
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 1</a></li>
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 2</a></li>
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 4</a></li>
                  </ul>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="achievement.html"><i class="ion ion-heart"></i> 我的成就 <div class="badge badge-primary">10</div></a>
            </li>
            <li>
              <a href="simple.html"><i class="ion ion-ios-information-outline"></i> 工作室简介</a>
            </li>
          </ul>
          <div class="p-3 mt-4 mb-4">
            <a href="#" class="btn btn-danger btn-shadow btn-round has-icon has-icon-nofloat btn-block">
              <i class="ion ion-help-buoy"></i>
              <div>退   出!</div>
            </a>
          </div>
        </aside>
      </div>

      <div class="main-content">
        <div class="jumbotron" style="border-radius: 50px;">
          <img src="../dist/img/13.png" style="float:right;">
          <h1 class="display-5">学习计划展示</h1>
          <p class="lead">genius， is its essence and said， is just a sense of career and love of excessive work.</p>
          <hr class="my-4">
          <p>天才とは、その本質についていえば、仕事への愛着にすぎない。</p>
          <!-- <p>天才，就其本质而说，只不过是一种对事业对工作过盛的热爱而已</p> -->
        </div>

        <div style="text-align: center; font-size: x-large;font-family:cursive;" id="inform">


        </div>
        <script>
          $(document).ready(function () {

            var data2 = {
              "param": {
                "user_name": name,
                "week": week
              }
            }
            var data = JSON.stringify(data2)
            $.ajax({
              type: "POST",
              url: "http://localhost:8081/weekly/getweeklydetail",
              contentType: "application/json;charset=utf-8",
              data,
              dataType: "json",
              success: function (data) {

                var str = `<td>${data.data.weeklies.plan}</td>
                                                    <td>${data.data.weeklies.evaluate}</td>
                                                    `
                $("#plan").append(str);

                var strrr = ` 
                            <th colspan="2">
                              ${data.data.weeklies.date}
                            </th>
                         `

                $("#datesubmit").append(strrr);
                for (let i = 0; i < data.data.target_contents.length; i++) {
                  var strr = `<tr>
                                                      <td >${data.data.target_contents[i].target_content}</td>
                                                      <td >${data.data.target_contents[i].situation}</td>
                                                      <td >${data.data.target_contents[i].date_task}</td>
                                                    </tr>
                                                    `

                  $("#weekly").append(strr);
                }

                var inform = `<div class="div-inline">姓名：</div>
              <div class="div-inline">${name}</div>
              <div class="div-inline left">方向：</div> 
              <div class="div-inline">${data.data.inform}</div>    `

                $("#inform").append(inform);


              },
              error: function (message) {
                //失败信息
              }
            });
          })
        </script>
        <div class="card-body">
          <div id="accordion">
            <div class="accordion" style="text-align: center;">
              <div class="accordion-header" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                <h4>Panel 1</h4>
              </div>
              <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                <div class="card-body" style="background-color: white; margin: 10px;">
                  <div style="font-size: x-large;font-family:cursive;">
                    <table border="1" style="border: midnightblue;" id="weekly">
                      <tr>
                        <th style="width:40%;">学习目标和计划</th>
                        <th style="width:30%;">学习进展情况</th>
                        <th style="width:20%;">完成时间</th>
                      </tr>


                    </table>
                  </div>
                </div>
                <div class="card-body" style="background-color: white; margin: 10px;">
                  <div style="font-size: x-large;font-family:cursive;">
                    <table border="1" style="border: midnightblue;">
                      <tr>
                        <th style="width: 50%;">本周学习总结</th>
                        <th style="width: 50%;">下周预期计划</th>
                      </tr>
                      <tr id="plan">
                      </tr>
                      <tr>
                        <th colspan="2">提交时间</th>
                      </tr>
                      <tr id="datesubmit">

                      </tr>


                    </table>

                    <!-- <table >
                         <tr >
                            <th colspan="2">提交时间</th>
                          </tr>
                       </table> -->

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <script src="../dist/modules/popper.js"></script>
    <script src="../dist/modules/tooltip.js"></script>
    <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="../dist/js/sa-functions.js"></script>
  
    <script src="../dist/modules/chart.min.js"></script>
    <script src="../dist/modules/summernote/summernote-lite.js"></script>
    <script src="../dist/js/scripts.js"></script>
    <script src="../dist/js/custom.js"></script>
    <script src="../dist/js/demo.js"></script>
</body>

</html>